
  <nav class="navbar navbar-expand-sm-md-lg">
    <div class="navbar-brand">The Vault - You are logged in as: <span class="member-name"></span>
    </div>    
    <div class="d-flex justify-content-end" id="navbarSupportedContent">
      <div class="nav-item">
        <a class="nav-link" href="../members">View Notes</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="../api/addcontact">Add Contacts</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>
  <div class="container">


    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Contacts:</h1>
        <br>
        <br>
      </div>
    </div>

    <!-- Contact section -->
    {{#each contacts}}

    <div class="card">
      <div class="card-header">
        <h2>Title: {{"Contacts.phoneNumber"}}</h2>
      </div>
    
  <div class="card-body">
    <p>{{"Contacts.body"}}</p>
    <button value={{"Contacts.id"}} class="delete btn btn-danger">Delete</button>
    <button value={{"Contacts.id"}} class="edit btn btn-default">Edit</button>
  </div></div>

  {{/each}}






    {{!-- <div class="row">
      <div class="col-md-6 col-md-offset-3">
        
        <div>
        {{#each notes}}

        

        <li>
	        {{"Notes.title"}}-{{"Notes.body"}}
	        <button class="noteEdit" data-id="{{id}}" >
		      Edit
	        </button>   
	        <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
          </li>
        


        {{/each}}

        </div>
        
      </div>
    </div> --}}


<!-- Contact Section -->




<!-- url section -->


    
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/members.js"></script>

