<div class = "grid-container">
  <header class="header">
      <nav >
        <div class="nbc" >Tinfoil Vault</div>    
        <div class="d-flex justify-content-end" id="navbarSupportedContent"></div>
      </nav>
  </header>

  <aside class="sidenav">
    <div class="sidenav">
      <br>
      <br>
      <a href="./addContact">Add Contact</a>
      <a href="./members">Notes</a>
      <a href="./logout">Logout</a>
    </div>
  </aside>

  <main>
    <div class="container-fluid">
      <div class="mainnote-title">
        <p style: "color: black;">Contacts</p>
      </div>
      <hr>
      <div class="container-fluid" style: "width: 70%; border: solid;">
          {{#each contacts}}
        <div style="padding-left: 40px; width: 80%;">
        <div class="note-title">Name: {{"Contacts.name"}}
            <div class="pageButtons">
            <button class="edit-button" style="background-color: #907080; border-radius: 12px;"type="submit" value={{"Contacts.id"}}>Edit</button>
            <button class="delete-button" style="background-color: #907080; border-radius: 12px;"type="submit" value={{"Contacts.id"}}>Delete</button></div>   
          </div>

        <div style="padding-left: 40px; width: 80%;">
          <p style:"padding: 20px;" class="note-textarea">Phone Number: {{"Contacts.phoneNumber"}}</p> 
          <p style:"padding: 20px;" class="note-textarea">Email: {{"Contacts.email"}}</p>
          <p style:"padding: 20px;" class="note-textarea">Address: {{"Contacts.address"}}</p>
          
        </div></div>
        <hr>{{/each}}
      </div>
    </div>
    
  </main>

  <footer class="footer"></footer>
</div>
        {{!-- <p class="note-title">Name: {{"Contacts.name"}}</p>
        <div style:"padding: 20px;" class"note-textarea">
        <p style:"padding: 20px;" class="note-textarea">Phone Number: {{"Contacts.phoneNumber"}}</p> 
        <p style:"padding: 20px;" class="note-textarea">Email: {{"Contacts.email"}}</p>
        <p style:"padding: 20px;" class="note-textarea">Address: {{"Contacts.address"}}</p>
        </div>
       </div> 
       <hr>
      {{/each}} </div>
    
  </div> --}} 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/contact.js"></script>



          {{!-- <div class="note-title">{{"Notes.title"}}
            <button class="edit-button" type="submit" value={{"Notes.id"}}>Edit</button>
            <button class="delete-button" type="submit" value={{"Notes.id"}}>Delete</button>   
          </div>
          <p class="note-textarea" >{{"Notes.body"}}</p>
       </div> 
       <hr>{{/each}} 
      </div>  
    </div> --}}