<div class = "grid-container">
  <header class="header">
      <nav >
    <div class="nbc" >Tin Foil Vault</div>    
    <div class="d-flex justify-content-end" id="navbarSupportedContent">
 
    </div>
  </nav>

  </header>
  <aside class="sidenav">

         <div style="padding: 10px;" class="nav-item">
        <a style="color: white"class="nav-link" href="../index.html">Logout</a>
      </div>
      <div style="padding: 10px;"class="nav-item">
        <a style="color: white" class="nav-link" href="portfolio.html">Notes</a>
      </div>
      <div style="padding: 10px;"class="nav-item">
        <a style="color: white"class="nav-link" href="contact.html">Contacts</a>
      </div>
      <div style="padding: 10px;"class="nav-item">
        <a style="color: white"class="nav-link" href="../addNote">Add Note</a>
      </div>

  </aside>
  <main>
        {{#each notes}}

    <div style="padding: 10px;"class="card">
      <div class="card-header">
        
        <h4>{{"Notes.title"}}</h4>
      </div>

      <div class="card-buttons">
        <div class="column">
        <button style="padding: 10px;"value={{"Notes.id"}} type="submit" class="search-button"><i class="notesButton fa fa-trash" aria-hidden="true"></i></button>
        </div>
        <div class="column">

        <button style="padding: 10px;"value={{"Notes.id"}} class="notesButton edit btn btn-default">Edit</button>
      </div>
      </div>  
      
    
  <div style="padding: 10px;"="card-body">
    <p>{{"Notes.body"}}</p>
    {{!-- <button value={{"Notes.id"}} type="submit" class="search-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
    <button value={{"Notes.id"}} class="edit btn btn-default">Edit</button> --}}
  </div></div>
  <hr>

  {{/each}}
  </main>
  <footer class="footer"></footer>


</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/members.js"></script>



{{!-- 


<div class="header">
  <h1>Header</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div>

<div class="topnav">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>

<div class="row">
  <div class="column">
    <h2>Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
  </div>
  
  <div class="column">
    <h2>Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
  </div>
  
  <div class="column">
    <h2>Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
  </div>
</div> --}}
